<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>Q</key>
		<integer>9</integer>
	</dict>
	<key>Aacute</key>
	<dict>
		<key>Q</key>
		<integer>9</integer>
	</dict>
	<key>Abreve</key>
	<dict>
		<key>Q</key>
		<integer>9</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
		<key>Q</key>
		<integer>9</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>Q</key>
		<integer>9</integer>
	</dict>
	<key>Agrave</key>
	<dict>
		<key>Q</key>
		<integer>9</integer>
	</dict>
	<key>Ainvertedbreve</key>
	<dict>
		<key>Q</key>
		<integer>9</integer>
	</dict>
	<key>Amacron</key>
	<dict>
		<key>Q</key>
		<integer>9</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
		<key>Q</key>
		<integer>9</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>Q</key>
		<integer>9</integer>
	</dict>
	<key>Atilde</key>
	<dict>
		<key>Q</key>
		<integer>9</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>11</integer>
		<key>Aacute</key>
		<integer>11</integer>
		<key>Abreve</key>
		<integer>11</integer>
		<key>Acircumflex</key>
		<integer>11</integer>
		<key>Adieresis</key>
		<integer>11</integer>
		<key>Agrave</key>
		<integer>11</integer>
		<key>Ainvertedbreve</key>
		<integer>11</integer>
		<key>Amacron</key>
		<integer>11</integer>
		<key>Aogonek</key>
		<integer>11</integer>
		<key>Aring</key>
		<integer>11</integer>
		<key>Atilde</key>
		<integer>11</integer>
		<key>V</key>
		<integer>7</integer>
		<key>W</key>
		<integer>10</integer>
		<key>Y</key>
		<integer>13</integer>
		<key>Yacute</key>
		<integer>13</integer>
		<key>comma</key>
		<integer>10</integer>
		<key>period</key>
		<integer>10</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>comma</key>
		<integer>71</integer>
		<key>odblgrave</key>
		<integer>13</integer>
		<key>period</key>
		<integer>85</integer>
		<key>s</key>
		<integer>8</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>comma</key>
		<integer>4</integer>
		<key>period</key>
		<integer>4</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>odblgrave</key>
		<integer>6</integer>
		<key>udblgrave</key>
		<integer>9</integer>
		<key>umacron</key>
		<integer>9</integer>
		<key>uogonek</key>
		<integer>9</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>quotedblright</key>
		<integer>21</integer>
		<key>quoteright</key>
		<integer>21</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>C</key>
		<integer>18</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>b</key>
		<integer>6</integer>
		<key>v</key>
		<integer>5</integer>
		<key>y</key>
		<integer>5</integer>
		<key>yacute</key>
		<integer>5</integer>
		<key>ydieresis</key>
		<integer>5</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>c</key>
		<integer>2</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>d</key>
		<integer>9</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
	</dict>
	<key>eacute</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
	</dict>
	<key>ecircumflex</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
	</dict>
	<key>edieresis</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
	</dict>
	<key>egrave</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>f</key>
		<integer>26</integer>
		<key>odblgrave</key>
		<integer>8</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>d</key>
		<integer>5</integer>
		<key>odblgrave</key>
		<integer>7</integer>
		<key>udblgrave</key>
		<integer>5</integer>
		<key>umacron</key>
		<integer>5</integer>
		<key>uogonek</key>
		<integer>5</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>y</key>
		<integer>3</integer>
		<key>yacute</key>
		<integer>3</integer>
		<key>ydieresis</key>
		<integer>3</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>y</key>
		<integer>8</integer>
		<key>yacute</key>
		<integer>8</integer>
		<key>ydieresis</key>
		<integer>8</integer>
	</dict>
	<key>odblgrave</key>
	<dict>
		<key>x</key>
		<integer>15</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>y</key>
		<integer>7</integer>
		<key>yacute</key>
		<integer>7</integer>
		<key>ydieresis</key>
		<integer>7</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>c</key>
		<integer>7</integer>
		<key>d</key>
		<integer>8</integer>
		<key>q</key>
		<integer>14</integer>
	</dict>
	<key>rcaron</key>
	<dict>
		<key>c</key>
		<integer>7</integer>
		<key>d</key>
		<integer>8</integer>
		<key>q</key>
		<integer>14</integer>
	</dict>
	<key>rcommaaccent</key>
	<dict>
		<key>c</key>
		<integer>7</integer>
		<key>d</key>
		<integer>8</integer>
		<key>q</key>
		<integer>14</integer>
	</dict>
	<key>rdblgrave</key>
	<dict>
		<key>c</key>
		<integer>13</integer>
		<key>ccedilla</key>
		<integer>13</integer>
		<key>ccircumflex</key>
		<integer>13</integer>
		<key>d</key>
		<integer>12</integer>
		<key>g</key>
		<integer>16</integer>
		<key>odblgrave</key>
		<integer>17</integer>
		<key>q</key>
		<integer>14</integer>
	</dict>
	<key>rinvertedbreve</key>
	<dict>
		<key>c</key>
		<integer>7</integer>
		<key>d</key>
		<integer>8</integer>
		<key>q</key>
		<integer>14</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>oacute</key>
		<integer>8</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>ocircumflex</key>
		<integer>4</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>oacute</key>
		<integer>13</integer>
		<key>ocircumflex</key>
		<integer>13</integer>
		<key>odblgrave</key>
		<integer>13</integer>
		<key>odieresis</key>
		<integer>13</integer>
		<key>ograve</key>
		<integer>13</integer>
		<key>oinvertedbreve</key>
		<integer>13</integer>
		<key>otilde</key>
		<integer>13</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>odblgrave</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
