<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>Q</key>
		<integer>-24</integer>
	</dict>
	<key>Aacute</key>
	<dict>
		<key>Q</key>
		<integer>-24</integer>
	</dict>
	<key>Abreve</key>
	<dict>
		<key>Q</key>
		<integer>-24</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
		<key>Q</key>
		<integer>-24</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>Q</key>
		<integer>-24</integer>
	</dict>
	<key>Agrave</key>
	<dict>
		<key>Q</key>
		<integer>-24</integer>
	</dict>
	<key>Ainvertedbreve</key>
	<dict>
		<key>Q</key>
		<integer>-24</integer>
	</dict>
	<key>Amacron</key>
	<dict>
		<key>Q</key>
		<integer>-24</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
		<key>Q</key>
		<integer>-24</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>Q</key>
		<integer>-24</integer>
	</dict>
	<key>Atilde</key>
	<dict>
		<key>Q</key>
		<integer>-24</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-29</integer>
		<key>Aacute</key>
		<integer>-29</integer>
		<key>Abreve</key>
		<integer>-29</integer>
		<key>Acircumflex</key>
		<integer>-29</integer>
		<key>Adieresis</key>
		<integer>-29</integer>
		<key>Agrave</key>
		<integer>-29</integer>
		<key>Ainvertedbreve</key>
		<integer>-29</integer>
		<key>Amacron</key>
		<integer>-29</integer>
		<key>Aogonek</key>
		<integer>-29</integer>
		<key>Aring</key>
		<integer>-29</integer>
		<key>Atilde</key>
		<integer>-29</integer>
		<key>V</key>
		<integer>-19</integer>
		<key>W</key>
		<integer>-27</integer>
		<key>Y</key>
		<integer>-34</integer>
		<key>Yacute</key>
		<integer>-34</integer>
		<key>comma</key>
		<integer>-27</integer>
		<key>period</key>
		<integer>-27</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>comma</key>
		<integer>-190</integer>
		<key>odblgrave</key>
		<integer>-35</integer>
		<key>period</key>
		<integer>-227</integer>
		<key>s</key>
		<integer>-21</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>comma</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-10</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>odblgrave</key>
		<integer>-16</integer>
		<key>udblgrave</key>
		<integer>-24</integer>
		<key>umacron</key>
		<integer>-24</integer>
		<key>uogonek</key>
		<integer>-24</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>quotedblright</key>
		<integer>-56</integer>
		<key>quoteright</key>
		<integer>-56</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>C</key>
		<integer>-48</integer>
	</dict>
	<key>Tcommaaccent</key>
	<dict>
		<key>C</key>
		<integer>-48</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>o</key>
		<integer>-64</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>o</key>
		<integer>-78</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>b</key>
		<integer>-16</integer>
		<key>v</key>
		<integer>-13</integer>
		<key>y</key>
		<integer>-13</integer>
		<key>yacute</key>
		<integer>-13</integer>
		<key>ydieresis</key>
		<integer>-13</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>c</key>
		<integer>-5</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>d</key>
		<integer>-24</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>x</key>
		<integer>-24</integer>
	</dict>
	<key>eacute</key>
	<dict>
		<key>x</key>
		<integer>-24</integer>
	</dict>
	<key>ecircumflex</key>
	<dict>
		<key>x</key>
		<integer>-24</integer>
	</dict>
	<key>edieresis</key>
	<dict>
		<key>x</key>
		<integer>-24</integer>
	</dict>
	<key>egrave</key>
	<dict>
		<key>x</key>
		<integer>-24</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>f</key>
		<integer>-70</integer>
		<key>odblgrave</key>
		<integer>-21</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>d</key>
		<integer>-13</integer>
		<key>odblgrave</key>
		<integer>-19</integer>
		<key>udblgrave</key>
		<integer>-13</integer>
		<key>umacron</key>
		<integer>-13</integer>
		<key>uogonek</key>
		<integer>-13</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>y</key>
		<integer>-8</integer>
		<key>yacute</key>
		<integer>-8</integer>
		<key>ydieresis</key>
		<integer>-8</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>y</key>
		<integer>-21</integer>
		<key>yacute</key>
		<integer>-21</integer>
		<key>ydieresis</key>
		<integer>-21</integer>
	</dict>
	<key>odblgrave</key>
	<dict>
		<key>x</key>
		<integer>-40</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>y</key>
		<integer>-19</integer>
		<key>yacute</key>
		<integer>-19</integer>
		<key>ydieresis</key>
		<integer>-19</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>c</key>
		<integer>-19</integer>
		<key>d</key>
		<integer>-22</integer>
		<key>q</key>
		<integer>-38</integer>
	</dict>
	<key>rcaron</key>
	<dict>
		<key>c</key>
		<integer>-19</integer>
		<key>d</key>
		<integer>-22</integer>
		<key>q</key>
		<integer>-38</integer>
	</dict>
	<key>rcommaaccent</key>
	<dict>
		<key>c</key>
		<integer>-19</integer>
		<key>d</key>
		<integer>-22</integer>
		<key>q</key>
		<integer>-38</integer>
	</dict>
	<key>rdblgrave</key>
	<dict>
		<key>c</key>
		<integer>-34</integer>
		<key>ccedilla</key>
		<integer>-34</integer>
		<key>ccircumflex</key>
		<integer>-34</integer>
		<key>d</key>
		<integer>-32</integer>
		<key>g</key>
		<integer>-43</integer>
		<key>odblgrave</key>
		<integer>-45</integer>
		<key>q</key>
		<integer>-38</integer>
	</dict>
	<key>rinvertedbreve</key>
	<dict>
		<key>c</key>
		<integer>-19</integer>
		<key>d</key>
		<integer>-22</integer>
		<key>q</key>
		<integer>-38</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>oacute</key>
		<integer>-21</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>ocircumflex</key>
		<integer>-10</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>o</key>
		<integer>-18</integer>
		<key>oacute</key>
		<integer>-35</integer>
		<key>ocircumflex</key>
		<integer>-35</integer>
		<key>odblgrave</key>
		<integer>-35</integer>
		<key>odieresis</key>
		<integer>-35</integer>
		<key>ograve</key>
		<integer>-35</integer>
		<key>oinvertedbreve</key>
		<integer>-35</integer>
		<key>otilde</key>
		<integer>-35</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>odblgrave</key>
		<integer>-13</integer>
	</dict>
</dict>
</plist>
