<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>A</key>
	<dict>
	    <key>y</key>
	    <integer>-7</integer>
	    <key>w</key>
	    <integer>-7</integer>
	    <key>v</key>
	    <integer>-7</integer>
	    <key>Y</key>
	    <integer>-13</integer>
	    <key>W</key>
	    <integer>-7</integer>
	    <key>V</key>
	    <integer>-7</integer>
	    <key>T</key>
	    <integer>-10</integer>
	    <key>Q</key>
	    <integer>-17</integer>
	</dict>
	<key>D</key>
	<dict>
	    <key>period</key>
	    <integer>-21</integer>
	    <key>Yacute</key>
	    <integer>-25</integer>
	    <key>Y</key>
	    <integer>-25</integer>
	    <key>W</key>
	    <integer>-20</integer>
	    <key>V</key>
	    <integer>-14</integer>
	    <key>A</key>
	    <integer>-21</integer>
	</dict>
	<key>F</key>
	<dict>
	    <key>s</key>
	    <integer>-15</integer>
	    <key>period</key>
	    <integer>-150</integer>
	    <key>colon</key>
	    <integer>7</integer>
	    <key>A</key>
	    <integer>-7</integer>
	</dict>
	<key>K</key>
	<dict>
	    <key>hyphen</key>
	    <integer>-13</integer>
	    <key>W</key>
	    <integer>8</integer>
	    <key>T</key>
	    <integer>7</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>y</key>
	    <integer>-7</integer>
	    <key>hyphen</key>
	    <integer>-20</integer>
	    <key>a</key>
	    <integer>7</integer>
	    <key>Y</key>
	    <integer>-8</integer>
	    <key>W</key>
	    <integer>-13</integer>
	    <key>V</key>
	    <integer>-12</integer>
	    <key>T</key>
	    <integer>-7</integer>
	    <key>A</key>
	    <integer>7</integer>
	</dict>
	<key>Lslash</key>
	<dict>
	    <key>y</key>
	    <integer>-7</integer>
	    <key>hyphen</key>
	    <integer>-20</integer>
	    <key>a</key>
	    <integer>7</integer>
	    <key>Y</key>
	    <integer>-8</integer>
	    <key>W</key>
	    <integer>-13</integer>
	    <key>V</key>
	    <integer>-12</integer>
	    <key>T</key>
	    <integer>-7</integer>
	    <key>A</key>
	    <integer>7</integer>
	</dict>
	<key>P</key>
	<dict>
	    <key>period</key>
	    <integer>-60</integer>
	    <key>W</key>
	    <integer>7</integer>
	    <key>A</key>
	    <integer>-7</integer>
	</dict>
	<key>T</key>
	<dict>
	    <key>y</key>
	    <integer>-10</integer>
	    <key>w</key>
	    <integer>-10</integer>
	    <key>u</key>
	    <integer>-8</integer>
	    <key>s</key>
	    <integer>-8</integer>
	    <key>r</key>
	    <integer>-7</integer>
	    <key>period</key>
	    <integer>-20</integer>
	    <key>o</key>
	    <integer>-7</integer>
	    <key>hyphen</key>
	    <integer>-7</integer>
	    <key>e</key>
	    <integer>-7</integer>
	    <key>colon</key>
	    <integer>-10</integer>
	    <key>c</key>
	    <integer>-7</integer>
	    <key>a</key>
	    <integer>-7</integer>
	    <key>T</key>
	    <integer>10</integer>
	    <key>C</key>
	    <integer>-35</integer>
	    <key>A</key>
	    <integer>-10</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>period</key>
	    <integer>-13</integer>
	    <key>colon</key>
	    <integer>-7</integer>
	    <key>A</key>
	    <integer>-7</integer>
	</dict>
	<key>W</key>
	<dict>
	    <key>y</key>
	    <integer>10</integer>
	    <key>u</key>
	    <integer>7</integer>
	    <key>r</key>
	    <integer>7</integer>
	    <key>period</key>
	    <integer>-8</integer>
	    <key>o</key>
	    <integer>7</integer>
	    <key>i</key>
	    <integer>8</integer>
	    <key>e</key>
	    <integer>7</integer>
	    <key>a</key>
	    <integer>7</integer>
	</dict>
	<key>X</key>
	<dict>
	    <key>hyphen</key>
	    <integer>-7</integer>
	</dict>
	<key>Y</key>
	<dict>
	    <key>period</key>
	    <integer>-18</integer>
	    <key>o</key>
	    <integer>-47</integer>
	    <key>hyphen</key>
	    <integer>-13</integer>
	    <key>colon</key>
	    <integer>-7</integer>
	    <key>A</key>
	    <integer>-10</integer>
	</dict>
	<key>Yacute</key>
	<dict>
	    <key>o</key>
	    <integer>-58</integer>
	</dict>
	<key>Z</key>
	<dict>
	    <key>hyphen</key>
	    <integer>-7</integer>
	</dict>
	<key>b</key>
	<dict>
	    <key>y</key>
	    <integer>-10</integer>
	    <key>v</key>
	    <integer>-10</integer>
	    <key>b</key>
	    <integer>-12</integer>
	</dict>
	<key>c</key>
	<dict>
	    <key>c</key>
	    <integer>-4</integer>
	</dict>
	<key>d</key>
	<dict>
	    <key>d</key>
	    <integer>-17</integer>
	</dict>
	<key>e</key>
	<dict>
	    <key>x</key>
	    <integer>-18</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>y</key>
	    <integer>7</integer>
	    <key>w</key>
	    <integer>7</integer>
	    <key>t</key>
	    <integer>7</integer>
	    <key>period</key>
	    <integer>-7</integer>
	    <key>f</key>
	    <integer>-53</integer>
	</dict>
	<key>h</key>
	<dict>
	    <key>y</key>
	    <integer>-6</integer>
	</dict>
	<key>hyphen</key>
	<dict>
	    <key>r</key>
	    <integer>7</integer>
	    <key>o</key>
	    <integer>7</integer>
	    <key>Y</key>
	    <integer>-15</integer>
	    <key>X</key>
	    <integer>-7</integer>
	    <key>V</key>
	    <integer>-7</integer>
	    <key>T</key>
	    <integer>-10</integer>
	    <key>J</key>
	    <integer>7</integer>
	</dict>
	<key>o</key>
	<dict>
	    <key>hyphen</key>
	    <integer>7</integer>
	    <key>colon</key>
	    <integer>7</integer>
	</dict>
	<key>r</key>
	<dict>
	    <key>y</key>
	    <integer>7</integer>
	    <key>w</key>
	    <integer>7</integer>
	    <key>period</key>
	    <integer>-43</integer>
	    <key>o</key>
	    <integer>7</integer>
	    <key>hyphen</key>
	    <integer>7</integer>
	    <key>h</key>
	    <integer>7</integer>
	    <key>fl</key>
	    <integer>8</integer>
	    <key>fi</key>
	    <integer>8</integer>
	    <key>f</key>
	    <integer>8</integer>
	    <key>e</key>
	    <integer>7</integer>
	    <key>d</key>
	    <integer>-10</integer>
	    <key>colon</key>
	    <integer>7</integer>
	    <key>c</key>
	    <integer>-14</integer>
	</dict>
	<key>v</key>
	<dict>
	    <key>period</key>
	    <integer>-8</integer>
	</dict>
	<key>w</key>
	<dict>
	    <key>period</key>
	    <integer>-7</integer>
	</dict>
	<key>x</key>
	<dict>
	    <key>o</key>
	    <integer>-13</integer>
	</dict>
	<key>y</key>
	<dict>
	    <key>period</key>
	    <integer>-7</integer>
	</dict>
    </dict>
</plist>
