<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A_Left</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-16</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-66</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-132</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-66</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-116</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-4</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-6</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-4</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_O_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-4</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-6</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-14</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-8</integer>
		<key>X</key>
		<integer>-8</integer>
	</dict>
	<key>@MMK_L_P_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-26</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-12</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-4</integer>
		<key>J</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>period</key>
		<integer>-120</integer>
	</dict>
	<key>@MMK_L_R_Left</key>
	<dict>
		<key>@MMK_R_W_Right</key>
		<integer>-6</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-4</integer>
	</dict>
	<key>@MMK_L_T_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-24</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-12</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-12</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_V_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-36</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-14</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-14</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_W_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-12</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-8</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-10</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-6</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_Y_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-8</integer>
		<key>@MMK_R_S_Right</key>
		<integer>-12</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-12</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-12</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_n_Left</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-4</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-6</integer>
	</dict>
	<key>@MMK_L_o_Left</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-4</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-4</integer>
	</dict>
	<key>@MMK_L_v_Left</key>
	<dict>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_w_Left</key>
	<dict>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_y_Left</key>
	<dict>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-40</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-2</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-34</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>period</key>
		<integer>-140</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>@MMK_R_V_Right</key>
		<integer>-2</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>comma</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-14</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-6</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@MMK_R_T_Right</key>
		<integer>-32</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-24</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-52</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-44</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-4</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-4</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>@MMK_R_y_Left</key>
		<integer>-4</integer>
	</dict>
</dict>
</plist>
