<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>Q</key>
		<integer>-16</integer>
		<key>T</key>
		<integer>-13</integer>
		<key>V</key>
		<integer>-9</integer>
		<key>W</key>
		<integer>-9</integer>
		<key>Y</key>
		<integer>-17</integer>
		<key>v</key>
		<integer>-9</integer>
		<key>w</key>
		<integer>-9</integer>
		<key>y</key>
		<integer>-9</integer>
	</dict>
	<key>Aacute</key>
	<dict>
		<key>Q</key>
		<integer>6</integer>
	</dict>
	<key>Abreve</key>
	<dict>
		<key>Q</key>
		<integer>6</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
		<key>Q</key>
		<integer>6</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>Q</key>
		<integer>6</integer>
	</dict>
	<key>Agrave</key>
	<dict>
		<key>Q</key>
		<integer>6</integer>
	</dict>
	<key>Amacron</key>
	<dict>
		<key>Q</key>
		<integer>6</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
		<key>Q</key>
		<integer>6</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>Q</key>
		<integer>6</integer>
	</dict>
	<key>Atilde</key>
	<dict>
		<key>Q</key>
		<integer>6</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>Aacute</key>
		<integer>8</integer>
		<key>Abreve</key>
		<integer>8</integer>
		<key>Acircumflex</key>
		<integer>8</integer>
		<key>Adieresis</key>
		<integer>8</integer>
		<key>Agrave</key>
		<integer>8</integer>
		<key>Amacron</key>
		<integer>8</integer>
		<key>Aogonek</key>
		<integer>8</integer>
		<key>Aring</key>
		<integer>8</integer>
		<key>Atilde</key>
		<integer>8</integer>
		<key>V</key>
		<integer>-13</integer>
		<key>W</key>
		<integer>-19</integer>
		<key>Y</key>
		<integer>-24</integer>
		<key>Yacute</key>
		<integer>-24</integer>
		<key>comma</key>
		<integer>7</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>uni0202</key>
		<integer>8</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-9</integer>
		<key>colon</key>
		<integer>9</integer>
		<key>comma</key>
		<integer>35</integer>
		<key>period</key>
		<integer>-152</integer>
		<key>s</key>
		<integer>-14</integer>
		<key>uni020D</key>
		<integer>9</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>T</key>
		<integer>9</integer>
		<key>W</key>
		<integer>10</integer>
		<key>hyphen</key>
		<integer>-17</integer>
		<key>umacron</key>
		<integer>6</integer>
		<key>uni020D</key>
		<integer>4</integer>
		<key>uni0215</key>
		<integer>6</integer>
		<key>uogonek</key>
		<integer>6</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>A</key>
		<integer>9</integer>
		<key>T</key>
		<integer>-9</integer>
		<key>V</key>
		<integer>-16</integer>
		<key>W</key>
		<integer>-17</integer>
		<key>Y</key>
		<integer>-10</integer>
		<key>a</key>
		<integer>9</integer>
		<key>hyphen</key>
		<integer>-26</integer>
		<key>quotedblright</key>
		<integer>15</integer>
		<key>quoteright</key>
		<integer>15</integer>
		<key>y</key>
		<integer>-9</integer>
	</dict>
	<key>Lslash</key>
	<dict>
		<key>A</key>
		<integer>9</integer>
		<key>T</key>
		<integer>-9</integer>
		<key>V</key>
		<integer>-16</integer>
		<key>W</key>
		<integer>-17</integer>
		<key>Y</key>
		<integer>-10</integer>
		<key>a</key>
		<integer>9</integer>
		<key>hyphen</key>
		<integer>-26</integer>
		<key>y</key>
		<integer>-9</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-9</integer>
		<key>W</key>
		<integer>9</integer>
		<key>period</key>
		<integer>-78</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-13</integer>
		<key>C</key>
		<integer>-33</integer>
		<key>T</key>
		<integer>13</integer>
		<key>a</key>
		<integer>-9</integer>
		<key>c</key>
		<integer>-9</integer>
		<key>colon</key>
		<integer>-13</integer>
		<key>e</key>
		<integer>-9</integer>
		<key>hyphen</key>
		<integer>-9</integer>
		<key>o</key>
		<integer>-9</integer>
		<key>period</key>
		<integer>-26</integer>
		<key>r</key>
		<integer>-9</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-13</integer>
		<key>y</key>
		<integer>-13</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-9</integer>
		<key>colon</key>
		<integer>-9</integer>
		<key>period</key>
		<integer>-17</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>a</key>
		<integer>9</integer>
		<key>e</key>
		<integer>9</integer>
		<key>i</key>
		<integer>10</integer>
		<key>o</key>
		<integer>9</integer>
		<key>period</key>
		<integer>-10</integer>
		<key>r</key>
		<integer>9</integer>
		<key>u</key>
		<integer>9</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>hyphen</key>
		<integer>-9</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-13</integer>
		<key>colon</key>
		<integer>-9</integer>
		<key>hyphen</key>
		<integer>-17</integer>
		<key>o</key>
		<integer>-44</integer>
		<key>period</key>
		<integer>-23</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>o</key>
		<integer>-54</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>hyphen</key>
		<integer>-9</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>b</key>
		<integer>-11</integer>
		<key>v</key>
		<integer>-9</integer>
		<key>y</key>
		<integer>-9</integer>
		<key>yacute</key>
		<integer>4</integer>
		<key>ydieresis</key>
		<integer>4</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>c</key>
		<integer>-4</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>d</key>
		<integer>-16</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>x</key>
		<integer>-17</integer>
	</dict>
	<key>eacute</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
	</dict>
	<key>ecircumflex</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
	</dict>
	<key>edieresis</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
	</dict>
	<key>egrave</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>f</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-9</integer>
		<key>t</key>
		<integer>9</integer>
		<key>uni020D</key>
		<integer>6</integer>
		<key>w</key>
		<integer>9</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>d</key>
		<integer>4</integer>
		<key>umacron</key>
		<integer>4</integer>
		<key>uni020D</key>
		<integer>5</integer>
		<key>uni0215</key>
		<integer>4</integer>
		<key>uogonek</key>
		<integer>4</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>y</key>
		<integer>-6</integer>
		<key>yacute</key>
		<integer>2</integer>
		<key>ydieresis</key>
		<integer>2</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>J</key>
		<integer>9</integer>
		<key>T</key>
		<integer>-13</integer>
		<key>V</key>
		<integer>-9</integer>
		<key>X</key>
		<integer>-9</integer>
		<key>Y</key>
		<integer>-19</integer>
		<key>o</key>
		<integer>9</integer>
		<key>r</key>
		<integer>9</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>y</key>
		<integer>5</integer>
		<key>yacute</key>
		<integer>5</integer>
		<key>ydieresis</key>
		<integer>5</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>colon</key>
		<integer>9</integer>
		<key>hyphen</key>
		<integer>9</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>y</key>
		<integer>5</integer>
		<key>yacute</key>
		<integer>5</integer>
		<key>ydieresis</key>
		<integer>5</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>c</key>
		<integer>-13</integer>
		<key>colon</key>
		<integer>9</integer>
		<key>d</key>
		<integer>-7</integer>
		<key>e</key>
		<integer>9</integer>
		<key>f</key>
		<integer>10</integer>
		<key>fi</key>
		<integer>10</integer>
		<key>fl</key>
		<integer>10</integer>
		<key>h</key>
		<integer>9</integer>
		<key>hyphen</key>
		<integer>9</integer>
		<key>o</key>
		<integer>9</integer>
		<key>period</key>
		<integer>-56</integer>
		<key>q</key>
		<integer>10</integer>
		<key>w</key>
		<integer>9</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>rcaron</key>
	<dict>
		<key>c</key>
		<integer>5</integer>
		<key>d</key>
		<integer>6</integer>
		<key>q</key>
		<integer>10</integer>
	</dict>
	<key>rcommaaccent</key>
	<dict>
		<key>c</key>
		<integer>5</integer>
		<key>d</key>
		<integer>6</integer>
		<key>q</key>
		<integer>10</integer>
	</dict>
	<key>uni0202</key>
	<dict>
		<key>Q</key>
		<integer>6</integer>
	</dict>
	<key>uni020D</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
	</dict>
	<key>uni0211</key>
	<dict>
		<key>c</key>
		<integer>9</integer>
		<key>ccedilla</key>
		<integer>9</integer>
		<key>ccircumflex</key>
		<integer>9</integer>
		<key>d</key>
		<integer>9</integer>
		<key>g</key>
		<integer>12</integer>
		<key>q</key>
		<integer>10</integer>
		<key>uni020D</key>
		<integer>12</integer>
	</dict>
	<key>uni0213</key>
	<dict>
		<key>c</key>
		<integer>5</integer>
		<key>d</key>
		<integer>6</integer>
		<key>q</key>
		<integer>10</integer>
	</dict>
	<key>uni021A</key>
	<dict>
		<key>C</key>
		<integer>13</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>oacute</key>
		<integer>5</integer>
		<key>period</key>
		<integer>-10</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>ocircumflex</key>
		<integer>3</integer>
		<key>period</key>
		<integer>-9</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>o</key>
		<integer>-12</integer>
		<key>oacute</key>
		<integer>9</integer>
		<key>ocircumflex</key>
		<integer>9</integer>
		<key>odieresis</key>
		<integer>9</integer>
		<key>ograve</key>
		<integer>9</integer>
		<key>otilde</key>
		<integer>9</integer>
		<key>uni020D</key>
		<integer>9</integer>
		<key>uni020F</key>
		<integer>9</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>period</key>
		<integer>-9</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>uni020D</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
