<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>Q</key>
		<integer>-21</integer>
	</dict>
	<key>Aacute</key>
	<dict>
		<key>Q</key>
		<integer>-21</integer>
	</dict>
	<key>Abreve</key>
	<dict>
		<key>Q</key>
		<integer>-21</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
		<key>Q</key>
		<integer>-21</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>Q</key>
		<integer>-21</integer>
	</dict>
	<key>Agrave</key>
	<dict>
		<key>Q</key>
		<integer>-21</integer>
	</dict>
	<key>Amacron</key>
	<dict>
		<key>Q</key>
		<integer>-21</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
		<key>Q</key>
		<integer>-21</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>Q</key>
		<integer>-21</integer>
	</dict>
	<key>Atilde</key>
	<dict>
		<key>Q</key>
		<integer>-21</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-26</integer>
		<key>Aacute</key>
		<integer>-26</integer>
		<key>Abreve</key>
		<integer>-26</integer>
		<key>Acircumflex</key>
		<integer>-26</integer>
		<key>Adieresis</key>
		<integer>-26</integer>
		<key>Agrave</key>
		<integer>-26</integer>
		<key>Amacron</key>
		<integer>-26</integer>
		<key>Aogonek</key>
		<integer>-26</integer>
		<key>Aring</key>
		<integer>-26</integer>
		<key>Atilde</key>
		<integer>-26</integer>
		<key>V</key>
		<integer>-17</integer>
		<key>W</key>
		<integer>-24</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>Yacute</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-25</integer>
		<key>period</key>
		<integer>-25</integer>
		<key>uni0202</key>
		<integer>-26</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>comma</key>
		<integer>-119</integer>
		<key>period</key>
		<integer>-143</integer>
		<key>s</key>
		<integer>-18</integer>
		<key>uni020D</key>
		<integer>-31</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>umacron</key>
		<integer>-21</integer>
		<key>uni020D</key>
		<integer>-15</integer>
		<key>uni0215</key>
		<integer>-21</integer>
		<key>uogonek</key>
		<integer>-21</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>quotedblright</key>
		<integer>-50</integer>
		<key>quoteright</key>
		<integer>-50</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>C</key>
		<integer>-43</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>o</key>
		<integer>-57</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>o</key>
		<integer>-70</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>b</key>
		<integer>-14</integer>
		<key>v</key>
		<integer>-12</integer>
		<key>y</key>
		<integer>-12</integer>
		<key>yacute</key>
		<integer>-12</integer>
		<key>ydieresis</key>
		<integer>-12</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>c</key>
		<integer>-5</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>d</key>
		<integer>-21</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>x</key>
		<integer>-22</integer>
	</dict>
	<key>eacute</key>
	<dict>
		<key>x</key>
		<integer>-22</integer>
	</dict>
	<key>ecircumflex</key>
	<dict>
		<key>x</key>
		<integer>-22</integer>
	</dict>
	<key>edieresis</key>
	<dict>
		<key>x</key>
		<integer>-22</integer>
	</dict>
	<key>egrave</key>
	<dict>
		<key>x</key>
		<integer>-22</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>f</key>
		<integer>-64</integer>
		<key>uni020D</key>
		<integer>-19</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>d</key>
		<integer>-12</integer>
		<key>umacron</key>
		<integer>-12</integer>
		<key>uni020D</key>
		<integer>-17</integer>
		<key>uni0215</key>
		<integer>-12</integer>
		<key>uogonek</key>
		<integer>-12</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>y</key>
		<integer>-7</integer>
		<key>yacute</key>
		<integer>-7</integer>
		<key>ydieresis</key>
		<integer>-7</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>y</key>
		<integer>-18</integer>
		<key>yacute</key>
		<integer>-18</integer>
		<key>ydieresis</key>
		<integer>-18</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>y</key>
		<integer>-17</integer>
		<key>yacute</key>
		<integer>-17</integer>
		<key>ydieresis</key>
		<integer>-17</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>c</key>
		<integer>-17</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-35</integer>
	</dict>
	<key>rcaron</key>
	<dict>
		<key>c</key>
		<integer>-17</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-35</integer>
	</dict>
	<key>rcommaaccent</key>
	<dict>
		<key>c</key>
		<integer>-17</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-35</integer>
	</dict>
	<key>uni0202</key>
	<dict>
		<key>Q</key>
		<integer>-21</integer>
	</dict>
	<key>uni020D</key>
	<dict>
		<key>x</key>
		<integer>-36</integer>
	</dict>
	<key>uni0211</key>
	<dict>
		<key>c</key>
		<integer>-30</integer>
		<key>ccedilla</key>
		<integer>-30</integer>
		<key>ccircumflex</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-29</integer>
		<key>g</key>
		<integer>-39</integer>
		<key>q</key>
		<integer>-35</integer>
		<key>uni020D</key>
		<integer>-41</integer>
	</dict>
	<key>uni0213</key>
	<dict>
		<key>c</key>
		<integer>-17</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-35</integer>
	</dict>
	<key>uni021A</key>
	<dict>
		<key>C</key>
		<integer>-43</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>oacute</key>
		<integer>-18</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>ocircumflex</key>
		<integer>-9</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>o</key>
		<integer>-16</integer>
		<key>oacute</key>
		<integer>-31</integer>
		<key>ocircumflex</key>
		<integer>-31</integer>
		<key>odieresis</key>
		<integer>-31</integer>
		<key>ograve</key>
		<integer>-31</integer>
		<key>otilde</key>
		<integer>-31</integer>
		<key>uni020D</key>
		<integer>-31</integer>
		<key>uni020F</key>
		<integer>-31</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>uni020D</key>
		<integer>-11</integer>
	</dict>
</dict>
</plist>
